@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IDatabaseProvider _databaseProvider

<div class="page">
	

	<main>
		@*<div class="top-row px-4">
			<button></button>
		</div>*@

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>


@code {
    private string _currentUrl = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var newUrl = new Uri(Navigation.Uri).AbsolutePath.Trim('/');

        if(newUrl != _currentUrl)
        {
            _currentUrl = newUrl;
            await _databaseProvider.SaveSaveAsync(_currentUrl);
        }
    }
}