@page "/bedroom"
@using AloneInSpace.Services
@inject INavigateToPage _navigateToPage

<body>
    <div class="main">
        <div class="text">
            <h1>Bedroom</h1>
        </div>
        <button class="navButton left" @onclick='() => _navigateToPage.OnNavigatedTo("previousPage")' data-hover="Previous">&lt;</button>
        <button class="navButton right" @onclick='() => _navigateToPage.OnNavigatedTo("introduction")' data-hover="Next">&gt;</button>
    </div>
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Initialization logic here
    }
}
