@page "/image/{id:int}"
@using AloneInSpace.Services
@inject INavigateToPage _navigateToPage

<style>
	body {
		background: url(/Content/Images/spaceWithGreenPlanet.png) no-repeat center center;
/*         background: url(/Content/Images/@GetBackgroundUrl()) no-repeat center center; 
 */		background-size: cover;
		background-color: black;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>

<button class="navButton left" @onclick='() => _navigateToPage.OnNavigatedTo("storageRoom")' data-hover="back">&lt;</button>


@code {
	[Parameter]
	public int Id { get; set; }

	[Inject] IJSRuntime JS { get; set; }
	[Inject] NavigationManager Navigation { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if(Id == 1)
		{
			await Task.Delay(5000); // 5 seconds
			Navigation.NavigateTo("/LandedOnPlanet");
		}
	}



	private string GetBackgroundUrl()
	{
		return Id switch
		{
			1 => "spaceWithGreenPlanet.png",
			2 => "spaceWithBluePlanet.png",
			3 => "spaceWithRedPlanet.png",
			_ => "spaceDefault.png"
		};
	}

}
