@page "/image/{id:int}"
@using AloneInSpace.Services
@inject INavigateToPage _navigateToPage

<style>
	.fade-in {
		background-size: cover;
		background-color: black;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0; /* Start with 0 opacity */
		animation: fadeIn 3s ease-in-out forwards;
	}
</style>

<body class="fade-in" style="background-image: url('/Content/Images/@GetBackgroundUrl()');">
</body>

@code {
	[Parameter]
	public int Id { get; set; }

	[Inject] IJSRuntime JS { get; set; }
	[Inject] NavigationManager Navigation { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		StateHasChanged();

		if(Id == 1)
		{
			await Task.Delay(5000); // 5 seconds
			_navigateToPage.OnNavigatedTo("image/2");
			StateHasChanged();
		}
		else if(Id == 2)
		{
			await Task.Delay(5000); // 5 seconds
			_navigateToPage.OnNavigatedTo("landedOnPlanet");
			StateHasChanged();
		}
	}


	private string GetBackgroundUrl()
	{
		return Id switch
		{
			1 => "spaceWithGreenPlanet.png",
			2 => "spaceshipLandingOnGreenPlanet.png",
			3 => "spaceWithRedPlanet.png",
			_ => "spaceDefault.png"
		};
	}
}
