body {
    background: url(/Content/Images/austronautOnMars2.png) no-repeat center center;
    background-size: cover;
    /*background-repeat: no-repeat;*/

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    /*border: solid green 5px;*/
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

h1 {
    color: navajowhite;
    font-family: "New Amsterdam", sans-serif;
    font-size: 80px;
}

p {
    color: navajowhite;
    font-family: "New Amsterdam", sans-serif;
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: flex-start;
    align-items: center; /* To center the buttons horizontally if needed */
}

button {
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    color: #fafbfa;
    font-size: 20px;
    font-family: "New Amsterdam", sans-serif;
    transition: color 0.5s ease-in-out;
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black, 4px 4px black, -4px -4px black, 4px -4px black, -4px 4px black;
}

button:hover {
    color: #d10c0c;

}

/*Validation:*/
.ValButton {
    position: absolute;
    background-color: black;
    border: transparent solid 1px;
    border-radius: 3px;
    top: 30%;
    left: 84%;
}

    .ValButton:hover {
        color: #808080ff;
        background-color: #191919ee;
    }

.ValForm {
    top: 35%;
    left: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.ValMain {
    font-family: "New Amsterdam", sans-serif;
 
    background-color: black;
    opacity: 0.7;
    border: transparent solid 1px;
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    .ValMain input {
        background-color: black;
        color: white;
        padding: 5px;
        margin: 0px 10px;
    }
    .ValMain button:hover {
        color: #808080ff;
        background-color: #191919ee;
    }
.ValMessage {
    color: red;
    top: 33%;
    background-color: black;
    display: flex;
    text-align: center;
    padding: 2px 10px;
    margin: 2px;
    border: transparent solid 1px;
    border-radius: 5px;
}

    /*fonts:*/
    .new-amsterdam-regular {
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

